doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  body
    script(type='text/javascript', src='lib/impact/impact.js')
    script(type='text/javascript', src='lib/game/main.js')
    canvas#canvas