doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', type='text/css', href='public/stylesheets/styles.css')
    script(type='text/javascript', src='public/game.min.js')
  body
    canvas#canvas